body{
	text-align: center;
}
head,body,header,section,aside,article,footer,hgroup{
	display: block;
}
#skin{
	width:700px;
	margin:30px auto;
	padding: 15px;
	background: grey;
	border: 2px solid black;
	border-radius: 10px;
}
nav{
	margin: 5px 0px;
}

#buttons{
	float: left;
	width:25px;
	height: 20px;
	margin: 10px;
}
#defaultBar{
	position: relative;
	float:left;
	width:600px;
	height:15px;
	margin: 10px;
	padding: 3px ;
	background: blue;
}
#progressBar{
	position: absolute;
	width:0px;
	height: 10px;
	margin:2px ;
	background: red;
}